body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.container .btn{
    border: none;
    padding: 15px 20px;
    background-color: hsl(96, 100%, 50%);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover{
    background-color: hsl(96, 100%, 41%);
}