body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.container .btn1{
    border: none;
    padding: 15px 20px;
    background-color: hsl(96, 100%, 50%);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.4s, transform 0.5s;
}

.container .btn2{
    border: none;
    padding: 15px 20px;
    background-color: hsl(32, 100%, 50%);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.4s, transform 0.5s;
}


.btn1:hover{
    background-color: hsl(96, 100%, 41%);
}